*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
html {
    font-size: 62,5%;
}
body {
    font-family: inter;
    font-size: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inter;
    font-weight: 400;
    margin-bottom: 0.46em;
}
h1 {
	font-size: 3.5rem;
}
h2 {
	font-size: 3.4rem;
}
h3 {
	font-size: 3rem;
}
h4 {
	font-size: 2.5rem;
}
h5 {
	font-size: 2rem;
}
h6 {
	font-size: 1.8rem;
}
p {
	font-size: 1.7rem;
	/* reakõrgus on 1.76 korda suurem siin olevast fondi suurusest, line height puhul võib kirjutada ka ainult 1.76 */
	line-height: 1.76em;
	font-family: 'Inter', sans-serif;
}
.has-text-aligned-center {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
}
.banner {
    min-height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.banner__container {
	width: 100%;
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 18%;
}
h1.banner__heading {
    max-width: 65%;
    margin: 45px 0px 30px;
    font-size: 51px;
}
.container {
	max-width: 173rem;
	margin-left: auto;
	margin-right: auto;
	/* siin võiks olla selle alumise asemel ka padding left 15px ja padding right 15px */
	padding: 0 1.5rem;
}
.container__banner {
    width: 100%;
    max-width: 83%;
    margin-right: auto;
    margin-left: 21px;
    position: absolute;
    margin-top: 122px;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Menu__list {
    display: flex;
    list-style: none;
    gap: 10px;
}
.menu__link {
    font-size: 15px;
    padding: 10px 0px;
    text-decoration: none;
}
.container--header {
    padding: 0px 40px;
    line-height: 72px;
}
.button {
    background-color: black;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 19px;
    padding-right: 19px;
    text-decoration: none;
}
.button__add--to-cart {
    background-color: black;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 24px;
    margin: 18px 41px;
    position: absolute;
}
.emty-space {
    height: 100px;
}
.text-align-center {
    font-size: 2rem;
    text-align: center;
}
.product-grid-list {
    display: flex;
    grid-template-columns: revert;
    flex-direction: row;
    column-gap: 59px;
    padding: 0px 15px;
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
.onsale {
    position: absolute;
    background: black;
    color: white;
    padding: 3px 20px;
    z-index: 1;
}
.onsale {
    background: black;
    color: white;
    padding: 3px 20px;
    z-index: 1;
    left: 43px;
    bottom: -300px;
}
.product-name {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}
.product-price {
    font-size: 15px;
    text-align: center;
    margin-bottom: 4px;
}
span.sale-price {
    color: grey;
    text-decoration: line-through;
    font-weight: 100;
}
